<%= turbo_frame_tag :bootstrap_modal, target: :_top do %>
  <div class="modal fade" id="staticBackdrop" data-controller="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button
            type="button"
              class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                style="background: none; border: none;">
          x
          </button>
        </div>
        <div class="modal-body">
          <%= render "admin/categories/form", category: @category %>
        </div>
      </div>
    </div>
  </div>
<% end %>
