<h1 class="h3 mb-4 text-gray-800">Editar categoria</h1>

<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-body">
        <%= render "form", category: @category %>
      </div>
    </div>
  </div>
</div>
